root = true

[*.js]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.jsx]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.ts]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true

[*.tsx]
indent_style = tab
indent_size = 4
trim_trailing_whitespace = true