<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Darren Vine">

    <title>{{htmlWebpackPlugin.options.title}} {{testParam}}</title>    

  </head>
  <body class="h-100">
    <div id="root" class="d-flex flex-column h-100"></div>
  </body>
</html>